@page
@using SneakyPeekyWeasleyShop.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the shop of SNEAKY-PEEKY-WEASLEY stuff</h1>
    <p>Here you'll find a lot of funny and of course NOT DANGEROUS things</p>
</div>

@(await Html.RenderComponentAsync<MagicProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>

