@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the shop of SNEAKY-PEEKY-WEASLEY stuff</h1>
    <p>Here you'll find a lot of funny and of course NOT DANGEROUS things</p>
</div>

<div class="card-columns">
    @foreach (var magicProduct in Model.MagicProducts)
    {
        <div class="card">
            <div class="card-img" style="background-image:url('@magicProduct.Image')"> </div>
            <div class="card-body">
                <h5 class="card-title">@magicProduct.Name</h5>
                <h5 class="card-title">@magicProduct.Description</h5>
            </div>
        </div>
        
    }
</div>

